layout python

export AWS_SHARED_CREDENTIALS_FILE="$HOME/.aws/credentials"
export AWS_PROFILE="rororo"
export AWS_DEFAULT_REGION=ap-northeast-1

export MACKEREL_APIKEY=hoge
export M_AWS_API_KEY_ID=hoge
export M_AWS_SECRET_KEY=hoge
